<div class="">
  <!-- <div class="row col-lg-12 textCenter padTop2Per">
    <div class="col-lg-5">
      <div class="">
          <img class="width150 height35 floatR" src="assets/images/download.png" alt="Profile Image">
      </div>
    </div>
    <div class="col-lg-7 textLeft">
      <div class="">
        <span>Dr. Aniket Bhalsing (M.B.B.S.)</span>
        <small>Nero Surgen</small>
      </div>
      <div class="">
        <span>Sakore Hospital, Tukaram nagar, Kharadi, Pune, 411014</span>
      </div>
      <div class="">
        <span>Phone No. : 022-123123 / 09970077898</span>
      </div>
      <div class="">
        <span>Email : aniketbhalsing@gmail.com</span>
      </div>

    </div>
  </div>
  <div class="col-lg-12">
    Bhalsing  
  </div> -->
  <!-- <div class="col-lg-6 col-sm-6">
      <div class="card hovercard">
          <div class="card-background">
              <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">

          </div>
          <div class="useravatar">
              <img alt="" src="http://lorempixel.com/100/100/people/9/">
          </div>
          <div class="card-info"> <span class="card-title">Pamela Anderson</span>
  
          </div>
      </div>
      <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
          <div class="btn-group" role="group">
              <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <div class="hidden-xs">Stars</div>
              </button>
          </div>
          <div class="btn-group" role="group">
              <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  <div class="hidden-xs">Favorites</div>
              </button>
          </div>
          <div class="btn-group" role="group">
              <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  <div class="hidden-xs">Following</div>
              </button>
          </div>
      </div>
  
      <div class="well">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <h3>This is tab 1</h3>
          </div>
          <div class="tab-pane fade in" id="tab2">
            <h3>This is tab 2</h3>
          </div>
          <div class="tab-pane fade in" id="tab3">
            <h3>This is tab 3</h3>
          </div>
        </div>
      </div>
      
  </div> -->

  <div class="container-fluid well span6 padTop2Per">
    <div class="row profileHdr">
      <div class="col-lg-5 padTop10">
      <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="profImg">
      </div>
      
      <div class="col-lg-7">
          <h4>Dr. Aniket Bhalsing (M.B.B.S.)</h4>
          <small>Nero Surgen</small>
          <h6>Sakore Hospital, Tukaram nagar, Kharadi, Pune, 411014</h6>
          <h6>Phone No: 022-111111 / 09999999999</h6>
          <h6>Email: MyEmail@gmail.com</h6>
      </div>
    </div>
    
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <div class="hidden-xs">Stars</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <div class="hidden-xs">Favorites</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Following</div>
            </button>
        </div>
    </div>

    <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <h3>This is tab 1</h3>
        </div>
        <div class="tab-pane fade in" id="tab2">
          <h3>This is tab 2</h3>
        </div>
        <div class="tab-pane fade in" id="tab3">
          <h3>This is tab 3</h3>
        </div>
      </div>
    </div>
</div>