<div class="">
  <div class="headerContainer">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row padTop5">
        <div class="col-sm-10 col-md-10 col-sm-10">
          <img src="assets/images/download.png" class="width150 height35">
        </div>
        <div class="col-sm-2 col-md-2 col-sm-2">
          <button type="submit" class="btn btn-primary floatR" routerLink="/login" routerLinkActive="active" tabindex="0">Logout</button>
        </div>
      </div>  
    </div>
  </div>
  <div class="height638">
    <router-outlet></router-outlet>
  </div>  
</div>