<div class="authRoutingDiv col-lg-12">
  <div class="row col-lg-12">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 padTop8Per">
      <div cass="">
        <form novalidate [formGroup]="loginForm"> <!-- (ngSubmit)="loginUser(loginObj)" -->
          <div class="container card" style="background: #aaaa;">
            <div style="padding: 0 40px 50px 40px;">
              <div class="loginCardHdr">
                <label>User Login</label>
              </div>
              <div>
                  <mat-form-field class="width100Per color-white f-14">
                    <input matInput placeholder="Email Id" formControlName="userName" [errorStateMatcher]="matcher">
                    <mat-error *ngFor="let validation of validation_messages.email">
                      <mat-error class="error-message" *ngIf="loginForm.get('userName').hasError(validation.type) && (loginForm.get('userName').dirty || loginForm.get('userName').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="width100Per color-white f-14">
                    <input matInput placeholder="Password" type="password" formControlName="password" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="loginForm.controls['password'].errors?.required &&
                    loginForm.controls['password'].touched">
                      Please enter a valid password
                    </mat-error>
                    <mat-error *ngFor="let validation of validation_messages.password">
                      <mat-error class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
              </div>
              
              <div class="padTop8Per textCenter">  
                <button class="saveBtn"  mat-raised-button cdkFocusInitial (click)="loginUser(loginForm)">Save</button>                
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <div class="clearfix"></div>
              </div>

              <div class="padTop5Per textCenter color-white f-14">  
                <span>If you are not registered yet ? <a href="" routerLink="/signup" routerLinkActive="active">Sign Up</a></span>
                <div class="clearfix"></div>
              </div>

            </div>
          </div>
        </form>
      </div>  
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>