<div class="col-lg-12" style="background: white;">
  <div class="row col-lg-12" style="height: 692px;">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 padTop8Per">
      <div cass="">
        <div class="container card color-black" style="box-shadow: 5px 5px 8px #aaaaaa;">
          <div style="padding: 0 40px 50px 40px;">
            <div class="welcomeText">
              <label>Verify Email</label>
            </div>
            <div class="color-black" style="text-align: center; font-size: 14px;">
              <span>Your Email has been verified successfully</span>
            </div>            
            <div class="padTop8Per textCenter">  
              <button class="saveBtn"  mat-raised-button cdkFocusInitial routerLink="/login">Login</button>                
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>