/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.width35 {width: 35px;}
.width150 {width: 150px;}
.height35{height: 35px}
.padTop5{padding-top: 5px}
.padTop15{padding-top: 15px}
.padTop20{padding-top: 20px}
.padTop25{padding-top: 25px}
.padTop30{padding-top: 30px}

.padTop5Per{padding-top: 5%}
.loginCardHdr {
    font-size: 25px;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.floatL{float: left;}
.floatR{float: right;}