<div class="col-lg-12">
  <div class="row col-lg-12">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 padTop5Per">
      <div cass="">
        <form  novalidate [formGroup]="signupForm">
          <div class="container card" style="background: #e9ebec; box-shadow: 6px 6px 5px #aaaaaa;">
            <div style="padding: 0 40px 50px 40px;">
              <div class="loginCardHdr">
                <label>User Registration</label>
              </div>
              <div class="col-lg-12">
                <div class="col-lg-6 floatL">
                  <label for="uname"><b>First Name</b></label>
                  <input type="text" class="form-control mr-sm-2" formControlName="firstName" placeholder="Enter First Name" name="firstName" required>
                </div>
                <div class="col-lg-6 floatL">
                  <label for="uname"><b>Middle Name</b></label>
                  <input type="text" class="form-control mr-sm-2" formControlName="middleName" placeholder="Enter Middle Name" name="middleName" required>
                </div>
                <div class="col-lg-6 floatL">
                  <label for="lastName"><b>Last Name</b></label>
                  <input type="text" class="form-control mr-sm-2" formControlName="lastName" placeholder="Enter Last Name" name="lastName" required>                  
                </div>
                <div class="col-lg-6 floatR">
                  <label for="mobileNo"><b>Mobile Number</b></label>
                  <input type="text" class="form-control mr-sm-2" formControlName="mobileNo" placeholder="Enter Last Name" name="mobileNo" required>                  
                </div>
                <div class="col-lg-6 floatR">
                  <label for="emailId"><b>Email Id</b></label>
                  <input type="text" class="form-control mr-sm-2" formControlName="emailId" placeholder="Enter Last Name" name="emailId" required>                  
                </div>                
                <div class="col-lg-6 floatL">
                  <label for="uname"><b>User Name</b></label>
                  <input type="text" class="form-control mr-sm-2" formControlName="userName" placeholder="Enter User Name" name="uname" required>  
                </div>

                <div class="col-lg-6 floatL">
                  <label for="psw"><b>Password</b></label>
                  <input type="password" class="form-control mr-sm-2" formControlName="password" placeholder="Enter Password" name="psw" required>
                </div>
                <div class="col-lg-6 floatL">
                  <label for="psw"><b>Confirm Password</b></label>
                  <input type="password" class="form-control mr-sm-2" formControlName="confirmPassword" placeholder="Enter Confirm Password" name="psw" required>  
                </div>                
              </div>
              <div class="floatR padTop15">  
                <button type="submit" class="btn btn-primary marRight30" (click)="signUpUser()">Sign Up</button>
              </div>
            </div>
          </div>
        </form>
      </div>  
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
